.tags {
	margin: 0 35px 40px 35px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.pop-tag a {
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	text-align: center;
	padding: 10px 15px;
	background-color: #f3f3f3;
	border-radius: 30px;
	margin: 0 10px 10px 0;
	color: #6a6a6a;
	font-weight: bold;
	font-size: 13px;
	font-family: raleway;
}