.btn-subscribe {
	width: 280px;
	height: 40px;
	background-color: #c2aa6f;
	color: white;
}
.bar-email input {
	width: 280px;
	height: 40px;
	border: none;
	display: block;
	background-color: #f3f3f3;
	border-radius: 30px;
	margin: 0 auto;
	margin-bottom: 15px;
	font-family: raleway;
	font-size: 14px;
	text-align: center;
	outline: none;
}
.subscribe div:last-child {
	text-align: center;
	margin-bottom: 40px;
}